<div class="tema1">
  <div>

    <div> Раздел 1. Методы изготовления микро- и наноэлектромеханических устройств</div>

    <div> Тема 1.  Введение в микро- и наносистемную технику</div>

    <p></p><p>Принято считать, что к объектам наномира относятся такие объекты, характерные размеры которых лежат в пределах от 1 до 100 нм. Вообще говоря,
    такое размерное ограничение является довольно условным. Главная особенность нанообъектов состоит в том, что в силу их малости в них проявляются
    особые свойства. Во многих случаях эти особые свойства могут проявляться
    и тогда, когда размеры нанообъектов превышают условно установленный
    предел в 100 нм.
    10
    Таким образом, приставка «нано» – скорее обобщенное отражение объектов исследований, прогнозируемых явлений, эффектов и способов их описания, чем просто характеристика протяженности базового структурного
    элемента.</p>
    <p>Все вещества, в конечном счете, состоят из элементарных частиц (протонов, нейтронов, электронов и др.), обладающих не равной нулю массой покоя, т.е. массой, отнесенной к некоторой системе отсчета, в которой эти частицы являются неподвижными. Естественные науки (физика, химия, биология) изучают главным образом вещества, организованные в атомы и молекулы. Атом – это электрически нейтральная система, состоящая из положительно заряженного ядра, образованного нуклидами (протонами и нейтронами), и отрицательно заряженной оболочки, образованной электронами. Атом
      является наименьшей частицей химического элемента, представляющего собой совокупность нуклидов и электронов, характеризующуюся определенным порядковым номером, который численно равен модулю заряда нуклидов
      и однозначно определяет химическую индивидуальность элемента и его положение в Периодической системе химических элементов. Все многообразие
      веществ обусловлено различными сочетаниями атомов между собой. Связываясь друг с другом, атомы одного или разных химических элементов образуют более сложные частицы – молекулы. Число атомов, входящих в состав
      молекул, колеблется в очень широких пределах: од двух (например, молекула
      водорода) до нескольких сотен и тысяч (например, молекулы полимеров).</p>

    <div> 1.1. Основные понятия микро- и наносистемной техники</div>

    <p>С понятием «наноматериалы» тесно связано понятие «наносистемы».
      В самом общем случае под системами понимаются определенным образом упорядоченные элементы, которые могут быть как материальными объектами, так и нематериальными, т.е. абстрактными (например, Периодическая система химических элементов представляет собой совокупность символов химических элементов, расположенных в определенном порядке,
      обычно, в форме таблицы, в соответствии с их атомными номерами). В свою
      очередь, системы, образованные материальными объектами, могут подразделяться на различные виды в зависимости от характеризующих их признаков.
      Так, предметом изучения в физике, химии и биологии являются системы,
      представляющие собой совокупность материальных объектов, характеризующихся соответственно физическими, химическими или биологическими
      свойствами, а также взаимосвязями соответственно физической, химической
      или биологической природы. Например, в физике это – квантовомеханические системы, т.е. нуклидолектронные системы, дискретные значения энергии которых определяются набором квантовых чисел, в химии – системы химических реагентов, в биологии – системы биокомпонентов, образующих органы растений и животных и участвующих в их жизнеобеспечении.
    </p>


    <p>В практической деятельности особо важную роль играют функциональные системы, т.е. такие системы материальных объектов, которые используются или пригодны к использованию для решения практических задач и, соответственно, обладают функциональными свойствами, определяющими
      области их практического применения. Функциональные системы изготавливаются на основе различных материалов, которые подразделяются на сырье (материалы, ранее не подвергавшиеся переработке), и полуфабрикаты
      (материалы, подвергнутые предварительной, частичной переработке). Также
      как образцы материалов, функциональные системы обладают конструктивными признаками, отличаясь при этом более высокой конструктивной сложностью. Обычно они представляют собой устройства, конструкция которых
      определяется конфигурацией, размерами, пространственным расположением
      и взаимосвязью составляющих их компонентов.
      Функциональные наносистемы подобно наноматериалам характеризуются нанометровым масштабом размеров хотя бы в одном из трех измерений. Свойства функциональных наносистем, также как и свойства наноматериалов, могут проявляться весьма необычным образом в силу присущего им
      нанометрового масштаба размеров. На практике наибольшее распространение находят твердотельные функциональные наносистемы.</p>

    <p>Особенности структуры и свойств индивидуальных наночастиц накладывают определенный отпечаток на структуру и свойства образуемых на их
      основе консолидированных наноматериалов и нанодисперсий. Типичным
      тому примером являются нанокристаллические материалы, которые характеризуются пониженной долей зерен и, соответственно, повышенной долей
      межзеренных границ в объеме материала. Одновременно в них происходит
      изменение структурных характеристик как зерен, так и межзеренных границ.
      В результате в нанокристаллических материалах существенно изменяются
      механические свойства. При определенных условиях эти материалы могут
      обладать сверхтвердостью или сверхпластичностью.</p>

    <p>Соответствующие разрешенные значения волнового вектора дискретны и имеют величину</p>

    <table>
      <tbody><tr>
        <td><img src="../../assets/images/formulas/111f19.png" alt=""></td>
        <td>1.1</td>
      </tr>
      </tbody></table>
    <br>

    <p>Наноматериалы служат основой для создания наносистем различного
      функционального назначения, которые подразделяются по принципу действия на электронные, оптические и механические. Действие техникатронных наносистем основано на преобразовании электрических сигналов,
      оптических – на преобразовании оптических (световых) сигналов в электрические и наоборот, механических – на преобразовании механического движения.
      Совокупности наносистем определенных типов образуют соответствующие отрасли наносистемной техники – наноэлектронику, нанооптику и
      наномеханику. Развитие различных типов наносистем идет в тесной взаимосвязи, что приводит к созданию более сложных по конструкции, интегрированных наносистем, таких как нанооптоэлектронные, наноэлектромеханические, нанооптомеханические и нанооптоэлектромеханические системы.
      Создание наносистем является дальнейшим шагом на пути развития соответствующих микросистем. Обычно на практике наносистемы встраиваются в различные микросистемы, формируя тем самым перспективное направление современной системной техники – микронаносистемную технику.
    </p>

    <table>
      <tbody><tr>
        <td><img src="../../assets/images/formulas/111f06.gif" alt=""></td>
        <td>1.2</td>
      </tr>
      </tbody></table>
    <br>

    <p>Целое <i>n</i> является квантовым числом, обозначающим квантовое состояние. Из (1.3) очевидно,
      что электрон, помещенный в ограниченную область пространства, может занимать только дискретные
      энергетические уровни. Самое низкое состояние имеет энергию</p>

    <table>
      <tbody><tr>
        <td><img src="../../assets/images/formulas/111f07.gif" alt=""></td>
        <td>1.3</td>
      </tr>
      </tbody></table>
    <br>

    <p class="where">которая всегда больше нуля. Ненулевая минимальная энергия отличает квантово-механическую систему
      от классической механической системы, для которой энергия частицы, находящейся на дне потенциальной
      ямы, тождественно равна нулю. Кроме того, разрешенные значения энергии для электрона оказываются квантованными пропорционально <i>n</i><sup>2</sup>.</p>

    <p>Для того чтобы удовлетворять принципу неопределенности
      <img src="../../assets/greek/delta_h.png" alt=""><i>p</i><img src="../../assets/greek/delta_h.png" alt=""><i>x</i>&nbsp;<img src="../../assets/images/ge.png" alt="">&nbsp;<i>ћ</i>/2 (в нашем случае
      <img src="../../assets/greek/delta_h.png" alt=""><i>x&nbsp;=&nbsp;a</i>), электрон должен иметь неопределенность своего момента
      <img src="../../assets/greek/delta_h.png" alt=""><i>p&nbsp;<img src="../../assets/images/ge.png" alt="">&nbsp;ћ</i>/2<i>a</i>. Это соответствует минимальному изменению энергии
      <img src="../../assets/greek/delta_h.png" alt=""><i>E</i>&nbsp;=&nbsp;(<img src="../../assets/greek/delta_h.png" alt=""><i>p</i>)<sup>2</sup>/2<i>m</i>*&nbsp;=&nbsp;<i>ћ</i><sup>2</sup>/8<i>m*a</i><sup>2</sup>, которое с точностью до сомножителя
      <img src="../../assets/greek/pi.png" alt=""><sup>2</sup>/4 соответствует приведенному выражению для <i>E</i><sub>1</sub>.
      Таким образом, и принцип неопределенности приводит к выводу о ненулевом значении минимальной
      энергии электрона, замкнутого в потенциальной яме. Конечное (ненулевое) минимальное значение энергии электронов и дискретность разрешенных энергетических состояний для них в низкоразмерной структуре, возникающие как следствие квантово-волнового поведения электрона в замкнутом пространстве, называют эффектом <span class="info">квантового ограничения</span>. Он характерен как для электронов, так и для дырок.
      В твердых телах квантовое ограничение может быть реализовано в трех пространственных направлениях.
      Количество направлений в твердотельной структуре, в которых эффект квантового ограничения отсутствует,
      используется в качестве критерия для классификации элементарных низкоразмерных структур по трем группам.
      Это квантовые пленки, квантовые шнуры и квантовые точки.
    </p><p class="liter">Цитированная литература</p>

    <ol>
      <li>Борисенко В.Е. Наноэлектроника / В.Е.Борисенко, А.И.Воробьева, Е.А.Уткина. – М.: БИНОМ. Лаборатория знаний, 2009. – 223 с.
      </li><li>Демиховский В.Я., Вугальтер Г.А. Физика квантовых низкоразмерных структур. - М.: Логос, 2000. - 248 с.
    </li><li>Шик А.Я., Бакуева Л.Г., Мусихин С.Ф. и др. Микро- и наноэлектромеханические устройства. - М.: Наука, 2001.-(Новые разделы физики полупроводников).
    </li></ol>
  </div>
  <div>

    <div> 1.2.  Состояния и перспективы развития конструкций и технологии формирования
      микро- и наноэлектромеханических устройств</div>

    <p>Используя эффект одноэлектронного туннелирования, можно создавать
      электронные приборы, состоящие из одной или нескольких квантовых точек,
      соединенных туннельными переходами – как между собой, так и с подводящими электродами. Так, в одноэлектронных транзисторах электроны “поштучно” переносятся от истока к стоку через разделяющую их квантовую
      точку, электронные состояния в которой электростатически контролируются
      электродоматвором. Преимуществами одноэлектронных транзисторов являются малые размеры (вплоть до размеров нескольких атомов) и связанная с
      ними возможность высокой степени интеграции, а также чрезвычайно низкая
      потребляемая мощность. В свою очередь, используя эффект резонансного
      туннелирования, можно создавать резонансноуннельные нанодиоды и нанотранзисторы, работающие с временами переключения, составляющими
      единицы и десятые доли пс, т.е. в диапазоне частот вплоть до нескольких
      ТГц. Важными особенностями электронных наноприборов на туннельных эффектах являются их расширенные, по сравнению с традиционными приборами, функциональные возможности, и высокое быстродействие,
      благодаря чему эти приборы играют большую роль в создании сверхбыстродействующих интегральных микросхем со сверхвысокой степенью интеграции.</p>

    <p>В <span class="topic">наноструктурах</span> условия для транспорта носителей
      заряда существенно отличаются от таковых в макросистемах. В структурах с размером менее
      длины свободного пробега носителей заряда их перенос происходит без рассеяния. Такой
      перенос называют <span class="info">баллистическим транспортом.</span>
      При этом допущения, позволяющие описывать транспорт носителей заряда с использованием
      кинетического уравнения Больцмана, теряют свою силу. Основные эффекты, относящиеся
      к баллистическому транспорту, зависят от соотношения между размерами структуры, в которой
      рассматривается перенос носителей заряда, и характерными длинами свободного пробега.
      Ключевыми являются длины свободного пробега, характеризующие упругое и неупругое рассеяние
      носителей заряда.</p>

    <p>Широкие перспективы в области создания приборов магнитной записи
      открывает использование спиновых эффектов. К числу таких приборов относятся считывающие головки на гигантском магнитосопротивлении, устройства памяти на гигантском магнитосопротивлении и туннельном магнитосопротивлении. Соответствующее направление наноэлектроники, базирующееся на использовании этих эффектов, называется спинтроникой.
      Особым по своей важности направлением наноэлектроники является молекулярная электроника, охватывающая область исследований принципов
      управления внутримолекулярными электронными процессами с целью создания качественно новой элементной базы информатики. Объектами исследований молекулярной электроники являются электронные наносистемы, содержащие в качестве составных частей одиночные молекулы или молекулярные комплексы, а также технологии изготовления таких наносистем, основанные на использовании процессов самосборки, включая процессы манипулирования как одиночными молекулами, так и молекулярными комплексами. </p>

    <p>Особенностью электронных наносистем, создаваемых на молекулярном
      уровне, является ярко выраженное проявление квантовых эффектов.
      Ожидается, что развитие молекулярной электроники даст наиболее эффективные результаты в тех областях, которые связанны с использованием
      функциональных специфических свойств молекулярных систем. Особые перспективы имеет биомолекулярная электроника – направление молекулярной
      электроники, охватывающее проблемы создания наноустройств, содержащих
      одиночные биомолекулы, в частности, ДНК и белки, или биомолекулярные
      комплексы. Биомолекулярная электроника тесно связана с биомиметрикой –
      научной областью, занимающейся проблемами имитации биологических
      процессов. В качестве примера, можно привести следующие данные о биомиметрических объектах, представляющие интерес для биомолекулярной
      электроники.</p>


    <br>
    <table>
      <tbody><tr>
        <td><img src="../../assets/images/112i02.png" alt=""></td>
      </tr>
      <tr><td>Рисунок 1.1 – Два резервуара с электронами,
        соединенные совершенным проводящим каналом.</td>
      </tr></tbody></table>
    <br>

    <p>С каждым годом постоянно возрастает поток информации о разработках
      в области наномеханики. Механические наносистемы обычно осуществляют
      исполнительные механические операции. Среди изделий наномеханики довольно сложно выделить типовые элементы, поскольку, как правило, они входят
      в качестве составных частей в более сложные устройства различного функционального назначения. К типичным «чисто» механическим нанокомпонентам
      относятся балки, спицы, мембраны, струны, трубки, кольца, диафрагмы, сопла,
      шарниры, шестерни и т.п. Вместе с тем возможно создание механических наноустройств, в которых часть механических функций выполняют живые организмы (бактерии). С другой стороны, известны работы по созданию механических нанокомпонентов, встраиваемых в биологические объекты.
      Создание изделий наномеханики связано со значительными технологическими трудностями, обусловленными жесткостью предъявляемых к ним
      требований. Прежде всего, такие изделия должны обладать высокой прочностью, твердостью и износостойкостью. В то же время они должны проявлять
      и другие свойства с учетом особенностей их применения. В большинстве
      случаев наиболее важным требованием для них является стабильность работы в реальных условиях эксплуатации.
      К числу наиболее важных областей применения наномеханики относится медицина. Особенно перспективным является создание наноробототов,
      способных выполнять определенные медицинские операции в теле пациента.
      Весьма интересны в практическом отношении нанокатетеры, позволяющие эффективно осуществлять диагностику и терапию в кровеносных сосудах и кишечном тракте, а также дозирующие и распределительные наноустройства,
      обеспечивающие доставку лекарств, требуемых пациентам. Кроме того, малые размеры микрокомпонентов делают их идеальными для манипулирования биологическими образцами на микроскопическом уровне. В частности,
      разрабатываются аналитические наноустройства на стеклянных или кремниевых
      чипах, получившие название «лабораторияаипе», проводящие экспрессанализ ДНК и других биомолекул.
      Другой не менее важной областью применения механических наноустройств является экология, где эти устройства могут обеспечивать дистанционный мониторинг окружающей среды, включая отбор проб, анализ, обработку результатов и контроль на местности. Типичными примерами их применения в этой области являются контроль загрязнения воздуха и воды, контроль выделения выхлопных газов, распределения нитратов в растениях и
      другие.

    </p>

    <p class="where">Изделия наномеханики также находят применение в промышленности,
      прежде всего, в автомобилестроении, где они могут эффективно контролировать рабочие параметры камер сгорания двигателей.
      Механические наноустройства, с учетом особенностей их применения в
      медицине, подвергаются воздействию биологических сред (кровь, лимфа,
      физиологические растворы), а также лекарственных препаратов, а потому
      должны обладать высокой биои коррозионной стойкостью. Высокие требования к коррозионной стойкости, а также к теплостойкости и стойкости к
      термическим ударам предъявляются к этим устройствам в случае их применения в экологии и промышленности, где они подвергаются химическим и
      тепловым воздействиям. Кроме того, некоторые типы механических нанокомпонентов, например, используемых в катушках для создания магнитных
      полей или конденсаторах, должны обладать специфическими электрическими свойствами (высокой проводимостью в первом случае или высоким электрическим сопротивлением во втором).
      Наномеханика, приходящая на смену микромеханики, находится пока
      еще на ранних стадиях разработки. Для изготовления изделий наномеханики
      используются зондовые технологии и нанолитография. Наибольшее распространение получили механических устройства наномеханики на нанопроволоках, углеродных нанотрубках, а также молекулярных наноструктурах.
      Особым разделом наномеханики является наноробототехника. Нанороботы
      подразделяются на манипуляционные, имеющие разные степени свободы пе43
      ремещения исполнительных органов, и мобильные, имеющие разные типы
      подвижного основания (колесные, шагающие, ползающие и т.п.).
      На основе использования технических подходов наноптики и наномеханики ведется создание оптикоеханических наноприборов, совершенство
      которых в значительной степени зависит от того, насколько точно обеспечивается позиционирование и перемещение их оптических компонентов, таких
      как зеркала, решетки, линзы и т.п. О больших перспективах исследований в
      этой области свидетельствует факт изготовления цифрового микрозеркального прибора (Digital Micromirror Device, Texas Instrument), содержащего свыше
      500000 подвижных механических частей, который предназначен для формирования проекционного изображения, системы точного наведения на цель, создания информационных полей в пространстве и для ориентации.
      Особую группу наносистем образуют сенсорные наносистемы, действие
      которых основано на селективном восприятии сигналов различной природы,
      в том числе биологических, химических, температурных и т.п., и их преобразовании в электрические. Наносенсорику можно рассматривиать как отдельное направление наноэлектроники. Весьма перспективным является создание
      бионаносенсоров, которые могут не только отслеживать состояние организма,
      но также, в случае острой необходимости (например, при резком ухудшении состояния здоровья), автоматически выполнить некоторые требуемые действия, например, «обращаться» к врачу и вводить в организм по полученным рекомендациям требуемые лекарства.</p>

    <p>Все больше внимания уделяется развитию нанотехнологий в Китае,
      Южной Корее, ряде других развивающихся стран. В последние годы нанотехнологические исследования начали проводиться в странах СНГ, в частности, в России, Украине, Беларуси, как правило, в рамках государственных
      научных программ.
      Предполагается, что в ближайшие годы государственные ассигнования в
      ведущих индустриальных странах мира на исследования в области нанотехнологий существенно возрастут. При этом намеченные исследования будут
      нацелены на решение ряда конкретных задач, такие как создание сверхминиатюрных транзисторов и запоминающих устройств с мультитерабитовым
      объемом памяти; повышение быстродействия компьютеров в миллион раз;
      создание сверхпрочных материалов и разработка на их основе новых транспортных средств; разработка генетических и медицинских препаратов против
      раковых заболеваний; разработка новых материалов и процессов для защиты
      окружающей среды и др.
    </p><p>

  </p><p class="liter">Цитированная литература</p>

    <ol>
      <li>Борисенко В.Е. Наноэлектроника / В.Е.Борисенко, А.И.Воробьева, Е.А.Уткина. – М.: БИНОМ. Лаборатория знаний, 2009. – 223 с.
      </li><li>Демиховский В.Я., Вугальтер Г.А. Физика квантовых низкоразмерных структур. - М.: Логос, 2000. - 248 с.
    </li><li>Шик А.Я., Бакуева Л.Г., Мусихин С.Ф. и др. Микро- и наноэлектромеханические устройства. - М.: Наука, 2001.-(Новые разделы физики полупроводников).
    </li></ol><br>
    <a class="begin" href="#">в начало</a><p></p>
  </div>
  <div id="content">

    <div id="name"> 1.3. Классификация МЭМС</div>

    <p>Микроэлектромеханические системы (МЭМС) — устройства, объединяющие в себе микроэлектронные и микромеханические компоненты.</p>

    <p>Механическим компонентом может быть миниатюрное зеркальце — элемент системы сканирования (например, для технологии DLP), либо примитивный инерциальный датчик, способный определить характерные движения, которые пользователь проделывает со своим устройством.

      МЭМС-устройства обычно изготавливают на кремниевой подложке с помощью технологии микрообработки, аналогично технологии изготовления однокристальных интегральных микросхем. Типичные размеры микромеханических элементов лежат в диапазоне от 1 микрометра до 100 микрометров, тогда как размеры кристалла МЭМС-микросхемы имеют размеры от 20 микрометров до одного миллиметра.</p>

    <p>
      В настоящее время МЭМС-технологии уже применяются для изготовления различных микросхем. Так, МЭМС-осцилляторы в некоторых применениях заменяют кварцевые генераторы. МЭМС-технологии применяются для создания разнообразных миниатюрных актуаторов и датчиков, таких как акселерометры, датчики угловых скоростей, гироскопы, магнитометрические датчики, барометрические датчики, анализаторы среды (например для оперативного анализа крови), радиоприёмные измерительные преобразователи.

      МЭМС-технология может быть реализована с использованием целого ряда различных материалов и технологий производства, выбор которых будет зависеть от создаваемого устройства и рыночного сектора, в котором он должен работать.

      Кремний является материалом, используемым для создания большинства интегральных схем, используемых в потребительской электроникe в современном мире. Распространенность, доступность дешевых высококачественных материалов и способность к применению в электронных схемах делает кремний привлекательным для применения его при изготовлении МЭМС.
    </p>

    <p>
      Кремний также имеет значительные преимущества перед другими материалами благодаря своим физическим свойствам. Монокристалл кремния почти идеально подчиняется закону Гука. Это означает, что при деформации он не подвержен гистерезису и, следовательно, энергия деформации практически не рассеивается.

      Также кремний очень надежен при сверхчастых движениях, так как он обладает очень малой усталостью и может работать в диапазоне от миллиардов до триллионов циклов без разрушения.

      Основные методы получения всех МЭМС-устройств на основе кремния: осаждение слоев материала, структурирование этих слоев с помощью фотолитографии и травления для создания требуемой формы.

      Несмотря на то, что электронная промышленность обеспечивает широкомасштабный спрос на продукцию кремниевой промышленности, кристаллический кремний по-прежнему является сложным и сравнительно дорогим материалом для производства. Полимеры, с другой стороны, можно производить в больших объёмах, с большим разнообразием характеристик материала. МЭМС-устройства могут быть сделаны из полимеров с помощью таких процессов, как литьевое формование, штамповка или стереолитография; они особенно хорошо подходят для применения при изготовлении микрофлюидных устройств, таких, как одноразовые картриджи анализа кров
    </p>

    <p>Взаимодействие квантовых частиц с различными потенциальными барьерами
      иллюстрирует рисунок 1.5,где частица с энергией <i>E</i>&nbsp;&lt;&nbsp;<i>U</i><sub>0</sub>,
      движущаяся слева направо, то есть приближающаяся к потенциальному барьеру,
      отразится от него и начнет двигаться в обратном направлении. Если же
      энергия частицы <i>E</i>&nbsp;&gt;&nbsp;<i>U</i><sub>0</sub>, то классическая
      частица продолжает двигаться в прежнем направлении. В квантовой механике
      картина иная.</p>


    <p></p>
    <li>
      Микроэлектромеханические системы можно классифицировать в соответствие с
      областью их применения:
      <ul>
        1. МЭМС для высокочастотной электроники (RF MEMS);
      </ul>
      <ul>
        2. Оптические МЭМС;
      </ul>
      <ul>
        3. Биомедицинские МЭМС;
      </ul>
    </li>
    <li>
      К числу достоинств МЭМС-устройств относятся:
      <ul>
        1. Малые размеры, масса, объем;
      </ul>
      <ul>
        2. Низкое энергопотребление;
      </ul>
      <ul>
        3. Относительно низкая стоимость;
      </ul>
      <ul>
        4. Простота интеграции в системы;
      </ul>
      <ul>
        5. Малая тепловая инерционность;
      </ul>
      <ul>
        6. Устойчивость к вибрации, ударам и радиации;
      </ul>
      <ul>
        7. Возможность изготовления большого количества (партий);
      </ul>
      <ul>
        8. Хорошая переносимость теплового расширения;
      </ul>
    </li>
    <p></p>

    <p>
      МЭМС находят применение в различных областях техники, особенно в таких как
      автомобильные, авиационные и персональные навигационные устройства; системы
      мониторинга состояния здоровья и жизнеобеспечения людей. Одним из магистральных
      направлений применения МЭМС является создание роботизированных систем и киборгов
      (робот-механизированное устройство с машинным искусственным интеллектом; киборг-
      биологический организм с человеческим интеллектом, использующий различные
      дополняющие или заменяющие устройства для расширения функций жизнедеятельности
      организма). Классическим примером роботизированных систем являются беспилотные
      наземные и воздушные транспортные средства.
    </p>

    <p>
      Технологии изготовления МЭМС-устройств можно условно разделить на несколько
      типов, описываемых ниже. Несмотря на то, что они могут применять схожие
      технологические этапы в процессе изготовления, они различаются в подходах к
      изготовлению МЭМС: аддитивном (когда слои наращиваются на исходной подложке) и
      субтрактивном (когда из исходной подложки вытравливается необходимая структура).
      Также в этом разделе будут представлены основные используемые материалы и
      технологические процессы для изготовления МЭМС. Основные технологические
      процессы при производстве МЭМС такие же, как и при производстве планарных
      интегральных микросхем (литография, напыление тонких пленок и их травление).
      Особенность технологических процессов производства МЭМС связано с
      формирование объемных трехмерных структур. Одним из основных отличий МЭМС-
      технологии является использование жертвенного слоя для создания, так называемых
      свободностоящих (free-standing) структур. Образцом такой структуры является микромост
      – балка, присоединена к подложке с двух противоположных торцов. Для создания таких
      структур необходимо использовать промежуточный слой, называемый жертвенным,
      который будет механически поддерживать эту структуру на этапе нанесения пленки-
      основы для моста. После выполнения всех необходимых операций напыления и
      литографии последним этапом изготовления является фаза высвобождения (release phase),
      во время которой жертвенный слой удаляется, и структура из планарной превращается в
      трехмерную. В качестве жертвенных слоев используются как неорганические (такие как
      поликристаллический кремний), так и органические (например, полиамиды) материалы.
      Для удаления их используют изотропное (равномерное во всех направлениях) селективное
      газофазное (сухое) и жидкое травление . Газофазное травление предпочтительно, так как
      при жидкофазном травлении в зазор между элементами структуры попадает жидкость,
      которая при высыхании может повредить свободностоящие пленки из-за сил
      поверхностного натяжения. А изотропия в сочетание с высокой селективностью
      травления позволяет добиться того, чтобы жертвенный слой был удален полностью во
      всех полостях МЭМС-устройства. Жертвенных слоев может быть несколько, что
      позволяет создавать довольно сложные трехмерные микрообъекты.
    </p>

    <p>
      Для МЭМС еще не сформировалась устоявшаяся международная система
      стандартов в классификации, изготовлении и обозначении. В Российской Федерации
      приняты только стандарты, опpеделяющие теpминологию и классификацию
      микросистемной техники. На данном этапе в Pоссийской Федеpации введен в действие
      основопологающий стандаpт ГОСТ P 0159-002—2008, в pамках котоpого изделие
      микpосистемной техники (микpосистема) опpеделено как совокупность
      микpоэлектpонных упpавляющих и функциональных исполнительных элементов и
      компонентов в едином констpуктивном исполнении, пpинцип действия котоpых основан
      на электpофизических, электpомеханических, электpохимических, электpонно-
      оптических, фотохимических пpоцессах и явлениях с учетом эффектов масштабиpования
      пpи пеpеходе от макpо- к микpо- и наноpазмеpным уpовням.
      В числе пpинятых стандаpтов:
      ГОСТ Р 54843-2011 "Изделия микросистемной техники. Элементы чувствительные
      микроэлектромеханических преобразователей физических величин. Общие технические
      условия"
      Стандарт распространяется на чувствительные элементы, разрабатываемые и
      поставляемые в качестве компонентов микроэлектромеханических преобразователей
      физических величин производственно-технического назначения. Настоящий стандарт не
      распространяется на чувствительные элементы, предназначенные для применения в
      пьезоэлектрических приборах.
      В области микpосистемной техники специального назначения ранее были приняты
      три стандарта:
    </p><ul>
    • ГОСТ P 0159-002—2008. Микpосистемная техника. Теpмины и опpеделения.
  </ul>
    <ul>
      • ГОСТ P 0159-003—2008. Микpосистемная техника. Теpмины, опpеделения и
      буквенные обозначения паpаметpов.
    </ul>
    <ul>
      • ГОСТ P 5962-003—2009. Микpосистемная техника. Классификация и
      система условных обозначений.
    </ul>
    В стадии согласования находятся еще два стандарта:

    <ul>
      • ГОСТ P 5962... Микpосистемная техника. Пpеобpазователи линейного
      ускоpения микpоэлектpомеханические. Общие технические условия.
    </ul>
    <ul>
      • ГОСТ P 5962 — Микpосистемная техника. Пpеобpазователи угловой
      скоpости микpоэлектpомеханические. Общие технические условия.
    </ul>
    За рубежом многие универсальные стандарты МЭМС разработаны Техническим
    комитетом по микро- и наноэлектромеханическим системам (МЭМС/НЭМС) при
    Ассоциации производителей полупроводникового оборудования и материалов (SEMI),
    предназначенные непосредственно для МЭМС-устройств и сенсоров; Институтом
    инженеров электротехники и электроники (IEEE); Международной электротехнической
    комиссией (IEC). Ниже, в таблицах 4-6 приведены наиболее популярные зарубежные
    стандарты в области МЭМС.
    <p></p>

    <p>&nbsp;</p>
    <p class="liter">Цитированная литература</p>

    <ol>
      <li>Борисенко В.Е. Наноэлектроника / В.Е.Борисенко, А.И.Воробьева, Е.А.Уткина. – М.: БИНОМ. Лаборатория знаний, 2009. – 223 с.
      </li><li>Демиховский В.Я., Вугальтер Г.А. Физика квантовых низкоразмерных структур. - М.: Логос, 2000. - 248 с.
    </li><li>Шик А.Я., Бакуева Л.Г., Мусихин С.Ф. и др. Микро- и наноэлектромеханические устройства. - М.: Наука, 2001.-(Новые разделы физики полупроводников).
    </li></ol>
    <a class="begin" href="#">в начало</a>
  </div>
</div>



<div class="tema2">

</div>
