.tema4{
  display: block;
  margin-left: 25%;
  width: 70%;
}
.tema5{
  display: block;
  margin-left: 25%;
  width: 70%;
}
.tema6{
  display: block;
  margin-left: 25%;
  width: 70%;
}
.tema7{
  display: block;
  margin-left: 25%;
  width: 70%;
}
