<div class="content">
  <div class="qwe">
    <img class="dem" src="https://image.freepik.com/free-vector/abstract-dark-blue-geometric-background_136469-398.jpg"/>
    <div class="ll">- Физика низкоразмерных систем (ФНС)
    Учебная программа по учебной дисциплине «Физика низкоразмерных систем» разработана для студентов, обучающихся по специальностям 1-41 01 03 Квантовые информационные системы» и 1-41 01 04 «Нанотехнологии и наноматериалы в электронике», в соответствии с требованиями образовательных стандартов ОСВО 1-41 01 03-2013 и ОСВО 1-41 01 04 и учебных планов вышеуказанных специальностей.
    Актуальность изучения учебной дисциплины связана с интенсивным развитием в настоящее время наноэлектроники. Дисциплина «Физика низкоразмерных систем» посвящена изучению физических основ построения наноэлектронных приборов и устройств .
  </div>
  </div>
  <div class="qwe"><div class="ll">- Микро- и наноэлектромеханические устройства (МНЭМУ)
    Учебная программа по учебной дисциплине «Микро- и наноэлектромеханические устройства» (МНЭМУ) разработана для студентов, обучающихся по специальности 1-41 01 03 «Квантовые информационные системы», в соответствии с требованиями образовательного стандарта ОСВО 1-41 01 03-2013 и учебного плана специальности.
    Актуальность изучения учебной дисциплины связана с интенсивным развитием в настоящее время микросистемной техники. Дисциплина «Микро- и наноэлектромеханические устройства» посвящена изучению физических основ построения микро- и наноэлектромеханических систем.
  </div></div>
  <div class="qwe"><div class="ll">
    - Основы инженерной и научной деятельности (ОИиНД)
    Учебная программа по учебной дисциплине «Основы инженерной и научной деятельности» (ОИиНД )разработана для студентов, обучающихся по специальностям и 1-41 01 02 «Микро- и наноэлектронные технологии и системы», 1-41 01 03 «Квантовые информационные системы» и 1-41 01 04 «Нанотехнологии и наноматериалы в электронике» в соответствии с требованиями образовательного стандарта ОСВО 1-41 01 03-2013 и учебного плана специальности.
    Актуальность изучение учебной дисциплины связана с интенсивным развитием в настоящее время Микро- и наноэлектронных технологий и систем. Дисциплина «Основы инженерной и научной деятельности» посвящена изучению микро- и наноэлектронных технологий и систем.
  </div></div>

</div>

