.tema1{
  display: block;
  margin-left: 25%;
  text-align: justify;
  width: 70%;
}
.tema2{
  display: block;
  margin-left: 25%;
  width: 70%;
}
.tema3{
  display: block;
  margin-left: 25%;
  width: 70%;
}

